@font-face {
    src: url("../fonts/Cubano.ttf");
    font-family: Cubano;
}

#page1 {
    display: block;
}

#page2 {
    display: none;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column;
    font-family: "Cubano", "Roboto", sans-serif;
}

.header, .j_header, .testimonial, .pictures, .j_pictures, .footer, 
.top_h, .top_hj, .bottom_h, .j_bottom_h, .left-bot, .j-left-bot, .right-bot, .quote, .quoter,
.AD, .left, .right, .footer, .j_footer {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: flex;
    gap: 32px;
    font-size: 30px;
    font-weight: 100;
}

.j_header, .header, .testimonial, .j_testimonial {
    flex-flow: row wrap;
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.header {
    background-image: url("../images/header.jpg");
}

.j_header {
    background-image: url("../images/bagel.gif");
    background-size: 100%;
}

li {
    position: relative;
    margin: 0;
    padding: 0;
}

.header li {
    color: #8b0000;
}

a {
    text-decoration: none;
    color: inherit;
}

.top_hj, .top_h {
    margin-bottom: 100px;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    width: 100vw;
    gap: 15px;
    border: 2px solid #000000;
}

.top_h {
    background-color: rgba(203,195,227,.4);
}

.top_hj {
    background-color: rgba(35, 31, 32, .8);
}

.logo img {
    width: 50px;
}

.glitch, .bother {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -.025em -.05em 0 rgba(0, 255, 0, 0.75), 
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    animation: links 1000ms infinite;
}

.even {
    font-size: 35px;
}

.bother {
    font-size: 40px;
}

.two a {
    font-size: 0;
}

.two a::after {
    font-size: 30px;
    transition-duration: 2s;
}

.two a::after {
    content: "JOIN THE FIGHT";
}

.two a:hover::after {
    font-size: 40px;
    content: "EMBRACE THE BAGEL";
    color: #000000;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -.025em -.05em 0 rgba(0, 255, 0, 0.75), 
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    animation: links 1000ms infinite;
}


/* 
make sure to make .bother three layered span
*/

.one span, .two span, .three span, .bother span {
    position: absolute;
    top: 0;
    left: 0;
}

.two span:first-child, .bother span:first-child {
    animation: links 450ms infinite;
}

.two span:last-child, .bother span:last-child {
    animation: links 600ms infinite;
}

.left-bot, .j-left-bot {
    flex-direction: column;
}

.para {
    margin: 0;
    color: #E5E7EB;
    font-weight: 100;
    margin-bottom: 10px;
}

.j-left-bot .para { 
    color: #000000;
}

.bottom_h, .j_bottom_h {
    gap: 48px;
    margin-bottom: 250px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 50px 20px;
}

.bottom_h {
    background-color: rgba(203, 195, 227, .4);
}

.j_bottom_h {
    background-color: rgba(35, 31, 32, .8);
}

/*
see if can remove excess top space from jobu bottom-header
*/
.left-bot, .j-left-bot {
    width: 500px;
    justify-content: center;
    align-items: center;
}

.everything {
    font-size: 48px;
    font-weight: 800;
    color: black;
}

.left-bot button, .j-left-bot button {
    background-color: #000000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0px;
    font-family: inherit;
    color: white;
    border-radius: 10px;
    padding: 8px 10px;
    width: 200px;
}

.left-bot button::after, .j-left-bot button::after {
    transition-duration: 2s;
}

.left-bot button::after {
    font-size: 18px;
}

.j-left-bot button::after {
    font-size: 30px;   
    animation: links 500ms infinite;
}

.left-bot button::after {
    content: "Join the fight?";
}

.j-left-bot button::after {
    content: "?";
}

.left-bot button:hover::after, .j-left-bot button:hover::after {
    width: 250px;
    height: auto;
}

.left-bot button:hover::after {
    font-size: 25px;
    animation: links 500ms infinite;
    content: "Bagel?";
}

.j-left-bot button:hover::after {
    font-size: 25px;
    animation: none;
    text-shadow: none;
    content: "Be Kind";
}

.right-bot, .j-right-bot {
    opacity: .9;
}

.j-right-bot img {
   width: 300px;
}

.pictures, .j_pictures {
    flex-flow: column;
    text-align: center;
}

.pictures {
    background-color: rgba(139, 0, 0);
}

.j_pictures {
    background-color: #231F20;
}

.title, .j_title {
    font-size: 36px;
    padding: 30px;
}

.container img, .j_container img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    transition-duration: 2s;
}

.j_container .hole1 {
    border: 3px solid #000000;
}

.container img {
    border: 3px solid #ffffff;
}


.container img:hover {
    width: 100%;
    height: 200px;
    border: 5px solid green;
}


.bagels {
    position: relative;
    top: 0;
    left: 0;
}

.hole1 {
    position: relative;
    top: 0;
    left: 0;
}

.bagels .hole2 {
    position: absolute;
    top: 60px;
    left: 60px;  
    opacity: 0%;
    transition-duration: 2s;
    color: #231F20;
}


.bagels .hole2 {
    width: 75px;
    height: 75px;
    border: 1.5px solid #231F20;
}

.hole2:hover {
    width: 90px;
    height: 90px;
    opacity: 100%;
    top: 50px;    
    justify-content: center;
    align-items: center;
}

.container, .j_container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.info1, .info2, .info3, .info4 {
    width: 200px;
}

.text, .title {
    color: #CBC3E3;
}

.j-text {
    color: #000000;
}

.testimonial, .j_testimonial {
    display: flex;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.testimonial {
    background-image: url("../images/quoteback.gif");
}

.j_testimonial {
    background-image: url("../images/walkthrough.gif");
    padding: 150px 100px;
}

.test-inner, .j-test-inner {
    width: 800px;
}

.quote, .quoter, .j_quote {
    font-size: 30px;
    font-style: italic;
}

.quote, .quoter {
    color: #ffffff;
}

.j_quote, .j_quoter:after {
    color: #000000;
}

.quote, .j_quote {
    opacity: .8;
    margin-bottom: 10px;
}

.j_quoter {
    font-size: 0;
}

.quoter, .j_quoter:after {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: 700;
    opacity: .9;
    transition-duration: 1s;
}

.j_quoter:after {
    content: "- Jobu Tupaki";
    animation: links 500ms infinite;
}

.quoter:hover, .j_quoter:hover::after {
    font-size: 24px;
    opacity: 100%;
}

.j_quoter:hover::after {
    font-size: 20px;
    content: "- Joy Wang";
    color: #ffffff;
    animation: none; 
}

.AD, .j_AD {
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.AD {
    background-image: url("../images/perhaps.jpg");
} 

.j_AD {
    background-image: url("../images/bagel.gif");
}


.ad_container, .j_ad_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 10px;
    width: 800px;
    padding: 50px;
    margin: 100px;
    gap: 10px;
}

.ad_container {
    background-color: rgba(203,195,227,.4);
}

.j_ad_container {
    background-color: rgba(35, 31, 32, .8);
}

.left, .j_left {
    flex-flow: column wrap;
    width: 500px;
}

.left h2, .left p, .j_left h2, .j_left p {
    margin: 0;
    padding: 0;
}

.CtoA, .j_CtoA {
    font-size: 28px;
    margin-bottom: 5px;
}

.signup, .j_signup {
    color: #ffffff;
    font-size: 20px;
}

.j_signup {
    color: #ffffff;
    opacity: .8;
}

.verse {
    color: #ffffff;
    transition-duration: 2s;
    animation: verse 1000ms infinite;
}

.verse:hover {
    color: #8bc34a;
    animation: none;
}

.finetext, .j_finetext {
    font-size: 10px;
}

.jump, .ex {
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    font-family: inherit;
    width: 100px;
    padding: 5px 10px;
    transition-duration: 2s;
}

.jump:hover {
    font-size: 22px;
    color: #8bc34a;
}

.footer, .j_footer {
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.footer {
    background-color: #8b0000;
    color: #ffffff;
}

.j_footer {
    background-color: #231F20;
    color: #000000;
}

@keyframes links {
     0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -.025em -.05em 0 rgba(0, 255, 0, 0.75), 
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
     }

     14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -.025em -.05em 0 rgba(0, 255, 0, 0.75), 
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
     }

     15% {
        text-shadow: -0.05em -.025em 0 rgba(255, 0, 0, 0.75),
        .025em .05em 0 rgba(0, 255, 0, 0.75), 
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
     }

     49% {
        text-shadow: -0.05em -.025em 0 rgba(255, 0, 0, 0.75),
        .025em .05em 0 rgba(0, 255, 0, 0.75), 
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
     }

     50% {
        text-shadow: 0.05em .025em 0 rgba(255, 0, 0, 0.75),
        .025em 0 0 rgba(0, 255, 0, 0.75), 
        0 -0.05em 0 rgba(0, 0, 255, 0.75);
     }

     99% {
        text-shadow: 0.05em .025em 0 rgba(255, 0, 0, 0.75),
        .025em 0 0 rgba(0, 255, 0, 0.75), 
        0 -0.05em 0 rgba(0, 0, 255, 0.75);
     }

     100% {
        text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75),
        -.05em -.025em 0 rgba(0, 255, 0, 0.75), 
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
     }
}

@keyframes verse {
    0% {
        color: #ffffff;
        transition-duration: .5s;
    }

    25% {
        color: #9ccc65;
        transition-duration: .5s;
    }

    50% {
        color: #8bc34a;
        transition-duration: .5s;
    }

    75% {
        color: #9ccc65;
        transition-duration: .5s;
    }

    100% {
        color: #ffffff;
    }
}
